html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 1);
  color: white;
  position: fixed; 
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  color:black;
}

html {
  background: #eee;
}

body {
  font-family: "Segoe UI", "Open Sans", "Ubuntu", "Calibri", "Corbel", Tahoma, Sans-Serif;
  font-size: 1.2em;
  margin: 0;
}

a {
  color: #2844FA;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1B29A4;
}

a:active {
  color: #000;
}

:-moz-any-link:focus {
  border: 0;
  color: #000;
}

::selection {
  background: #ccc;
}

::-moz-selection {
  background: #ccc;
}

button,
input[type=button] {
  -moz-border-radius: 3px;
  background: #0370ea;
  background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
  background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  font-family: inherit;
  font-size: .8em;
  padding: 1px 1px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  font-size: 1.5em;
}

button:hover,
input[type=button]:hover {
  background: rgb(9, 147, 240);
}

button:active,
input[type=button]:active {
  background: rgb(10, 118, 190);
}

button[disabled],
input[type=button][disabled] {
  background: none;
  border: 1px solid rgb(187, 181, 181);
  color: gray;
  text-shadow: none;
}

strong {
  color: rgb(204, 14, 14);
  font-family: inherit;
  font-weight: normal;
}

.experiment {
  margin: 0;
  padding: 0;
}

.top {
  color: rgb(207, 12, 12);;
  font-family: Verdana, sans-serif;
  width:100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 800;
}

.top-1 {
  margin-top:10%;
}

.top-2 {
  margin-top:3%;
  margin-bottom: 10%;
  font-size: 1.3em;
  font-weight: 500;
  color: rgba(50,50,50 , 1);
}
/* For mobile future change this width */
@media all and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }

  .experiment {
    margin: 0;
  }
}

/* For mobile future change this width */
@media all and (max-width: 500px) {
  body {
    font-size: .9em;
  }

  .experiment {
    margin: 0;
  }
}

/* For mobile future change this width */
@media all and (max-width: 300px) {
  body {
    font-size: .8em;
  }

  .experiment {
    margin: 0;
  }
}

.hide-after-join {
  margin: 0;
  padding: 0;
}

.setup {
  margin: 0;
  padding: 0;
}

.container-config{
  margin-top: 20%;
  margin-bottom: 20%;
  display: block;
  text-align: center;
  width:100%;
}

.container-button{
  margin-top: 20%;
  display: block;
  text-align: center;
  width:100%;
}

.host-input{
  text-align: center;
}